* {
  font-family: verdana, sans-serif;
}

/* Variables */

$primary-color1: #335576;
$primary-color2: #DB7A4E;


/* Remove decorations from a tags and list items*/

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* CSS for Navigation */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    color: $primary-color1;
  }

  &__cont {
    &--left {
      margin-left: 70px;
    }

    &--right {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 70px;
    }
  }

  &__menu {
    display: inline;
  }

  &__link {
    display: inline-block;
    padding: 0 20px 0 20px;

 

  &__content{

    color: #000;

    &--current{
      @extend .navbar__link;
      color: #000;
      display: inline-block;
      border-bottom: 2px solid #DB7A4E;
      padding: 0 0 10px 0 ;
      
    }
  }
}
}
